## Server
PORT=5000

## Database
DB_URL=mongodb://localhost:27017/hrms

## Auth
JWT_SECRET=change_me

## Email Configuration (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_APP_PASSWORD=change_me
SMTP_EMAIL=change_me@example.com

## Company Info (optional)
COMPANY_NAME=HRMS Pro
COMPANY_EMAIL=change_me@example.com

## External Biometric Attendance API
BIOMETRIC_API_BASE_URL=http://leptisgroup.fortiddns.com:3111
BIOMETRIC_API_TOKEN=98asgd-90ab-cde12345678

